.idea/.name
.idea/jsLibraryMappings.xml
.idea/libraries/MyshipmateAdminConsole_node_modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/MyshipmateAdminConsole.iml
.idea/workspace.xml
.idea/watcherTasks.xml